@model Dog
@{
    ViewData["Title"] = "Edit";
}

<h1>Отредактируйте данные</h1>


<div class="row">
    <div class="col-6">
        <form asp-controller="Dog" asp-action="Edit" method="post" enctype="multipart/form-data">
           <input name="ImageUrl" asp-for="ImageUrl" hidden/>
            <div class="form-group">
                <label asp-for="Breed"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreedInEnglish"></label>
                <input asp-for="BreedInEnglish" class="form-control" />
                <span asp-validation-for="BreedInEnglish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FCICategoryId"></label>
                <select asp-for="FCICategoryId" asp-items="ViewBag.fciCategories" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DogTags"></label>
                <select name="tags" asp-items="ViewBag.tags" multiple class="form-select chosen-select">
                </select>
            </div>

            <img src="@Model.ImageUrl" height="200" />

            <div class="mb-3">
                <label for="formFile" class="form-label">Измените изображение</label>
                <input class="form-control" name="Image" type="file" id="formFile">
            </div>
            <div class="form-group">
                <label asp-for="BehaviorCharacter"></label> 
                <textarea asp-for="BehaviorCharacter" class="form-control" rows="10"></textarea>
                <span asp-validation-for="BehaviorCharacter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoryOfBreed"></label>
                <textarea asp-for="HistoryOfBreed" class="form-control" rows="10"></textarea>
                <span asp-validation-for="HistoryOfBreed" class="text-danger"></span>
            </div>
            <button class="btn btn-outline-primary w-25 mt-2">Изменить</button>
        </form>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}